extends layout

block content
  h1= title

  form(method='POST' action='' enctype="multipart/form-data")
    
    div.form-group
      label(for='avatar') Upload Image:
      input#avatar.form-control(type='file' name='avatar' accept="image/*")
    button.btn.btn-primary(type='submit') Submit